 pandas
numpy
 matplotlib
 pyplot
datetime
nltk
CountVectorizer
counter
collection
nltk.sentiment 
 SentimentIntensityAnalyzer
 sklearn.feature_extraction.text 
 CountVectorizer
 yfinance
 Textblob
 TALib
 pynance
 yahooquery
 ticker